/* Layout.css */
.layout-container {
  display: flex;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  transition: padding-left 0.3s ease; /* Smooth transition for padding */
}

.page-content {
  flex: 1;
  padding-top: 60px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers content horizontally */
  justify-content: center; /* Centers content vertically */
  text-align: center; /* Ensures text is centered */
  height: 100vh; /* Full height to align content properly */
  overflow-x: hidden; /* Prevent horizontal overflow */
  transition: margin-left 0.3s ease; /* Smooth transition for margin */
}

/* Adjust padding and margin based on sidebar state */
.sidebar.open ~ .main-content .page-content {
  margin-left: 200px; /* Adjust margin when sidebar is open */
}

.sidebar:not(.open) ~ .main-content .page-content {
  margin-left: 60px; /* Adjust margin when sidebar is collapsed */
}


.content-area {
  margin-left: 200px; /* Adjust based on the width of the side navbar */
  padding: 20px;
  transition: margin-left 0.3s;
}

.content-area.collapsed {
  margin-left: 60px; /* Adjust based on the collapsed width of the side navbar */
}